@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url('/assets/img/bg-waves.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 100% 100%;
    height: 100vh;
}

header {
    max-width: 700px;
    margin: 20px auto;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.profile-container {
    display: flex;
    max-width: 700px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav {
    display: flex;
    margin: auto;
    gap: 20px;
    list-style: none;
}

.nav li {
    float: left !important;
    list-style-type: none;
    margin-right: -10px;
    padding: 0 !important;
    width: 30% !important;
    overflow: hidden;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
}

.nav a {
    text-decoration: none;
    color: rgb(255,255,255);
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

.nav li:last-child a {
    color: rgb(0, 0, 0);
}

.profile {
    display: flex;
}

.me {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    margin-left: 20px;
}

.profile-info h1 {
    color: rgb(255,255,255);
    font-size: 3rem;
    font-family: "Inter", sans-serif;
}

.profile-info p:first-of-type {
    color: rgba(255,255,255,0.5);
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.profile-info p:last-of-type {
    color: rgb(255,255,255);
    margin-top: 15px;
    font-size: 1.2rem;
    font-family: "Fira Mono", monospace;
}

.item-container {
    display: flex;
    max-width: 700px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
}

.items {
    display: flex;
    gap: 20px;
    color: white;
    font-size: 1.5rem;
}